body {
    font-family: Arial, sans-serif;
    background-image: url('../FOTOS/WhatsApp\ Image\ 2023-11-25\ at\ 13.25.15.jpeg');
    background-size: cover;
    background-position: top; 
    background-repeat: repeat; 
}

.login-container {
    width: 300px;
    padding: 16px;
   margin: 0 auto;
    margin-top: 10px;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #050000;
    background-color: #e6dede00;
}

.login-btn {
    background-color: #e6dede00;
    color: rgb(3, 3, 3);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    
    
}

.login-btn{
    --glow-color: rgb(4, 43, 95);
    --glow-spread-color: rgba(250, 250, 250, 0);
    --enhanced-glow-color: rgb(15, 15, 15);
    --btn-color: rgb(252, 252, 252);
    border: .2em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   
   .login-btn::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(.5em) rotateX(3deg) scale(1, .6);
   }
   
   .login-btn:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    
   }
   
   .login-btn:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

img{
 background-position:center;
 background-repeat:no-repeat;
 background-size: 50%;
}
