body {
    font-family: Arial, sans-serif;
    background-image: url('../FOTOS/WhatsApp\ Image\ 2023-11-25\ at\ 13.25.15.jpeg');
    background-size: cover;
    background-position: top; 
    background-repeat: repeat; 
}
